.greetings-container{
    max-width: 1324px;
    height: 202px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 470px 854px;
}

.greetings-img{
    padding: 37px 21px 5px 21px;
}

.greetings-txt{
    padding: 96px 112px 95px 111px;
    /* font-family: 'roboto';
    font-variation-settings: "wght" 500; */
}

.greetings-txt-h1{
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.reetings-txt-h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.reetings-txt-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
