//******************* ШРИФТЫ ***********************
.roboto-thin {
    @include robotoThin;
}
.roboto-light {
    @include robotoLight;
}
.roboto-reguler {
    @include robotoRegular;
}
.roboto-medium {
    @include robotoMedium;
}
.roboto-bold {
    @include robotoBold;
}

.playfair-regular {
    @include playfairRegular;
}

.playfair-bold {
    @include playfairBold;
}

//******************* BODY ***********************
body {
    @include robotoRegular;
    margin: 0;
}

//******************* LINKS ***********************
a {
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

//******************* BUTTONS ***********************
button {
    outline: none;
    border: none;
}
//******************* INPUTS ***********************
input {
    outline: none;
    border: none;
}
//******************* TEXTAREA ***********************
textarea {
    outline: none;
    border: none;
}
//******************* UL LI ***********************
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
//******************* TITLES ***********************
.title {
    font-size: 32px;
    line-height: 37.5px;
    font-weight: 500;
}
