$lightThemeBg: radial-gradient(50% 50% at 50% 50%, #78B1EA 0%, #FFFFFF 99.48%);
$darkThemeBg: radial-gradient(50% 50% at 50% 50%, #78B1EA 0%, #1C2127 99.48%);
$btnSubmit: #1C548D;

.feedback {
    padding: 40px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: $lightThemeBg;

    &-title {
        margin-bottom: 10px;
        text-align: center;
    }
    &.darkTheme {
        background: $darkThemeBg;
    }

    &-form {
        max-width: 428px;
        margin: 0 auto;
        &-field,
        &-textarea {
            display: block;
            width: 100%;
            border: 1px solid #9FC7F0;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }
        &-field {

        }
        &-textarea {
            resize: none;
            height: 100%;
            max-height: 160px;
        }

        &__attach-file {
            margin-bottom: 10px;

            #file-input {
                display: none;
            }
            label[for="file-input"] {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }

            .icon__attach-file {
                width: 11px;
                height: 22px;
                margin-right: 10px;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
            }
            &:hover {
                .icon__attach-file {
                    transform: scale(1.1);
                }
            }
        }
        &__btn-send {
            width: 100%;
            color: #fff;
            padding: 10px;
            background: $btnSubmit;
            border-radius: 3px;
            cursor: pointer;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            &:hover {
                background: lighten($btnSubmit, 10%);
            }
        }
    }
}
