* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
  font-family: serif;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}

header,
footer {
  padding: 25px 0;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: 60px 0;
}

.prime .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.prime-img {
  position: relative;
  display: flex;
  padding-top: 100%;
  background-image: url("../img/avatar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-box .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 20px;
}

section {
  background-color: floralwhite;
}

.feedback {
  margin-top: 20px;
}

@media(max-width: 800px) {
  .main-box .container {
    grid-template-columns: 1fr;
  }
  
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

@media(max-width: 600px) {
  .prime .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .prime-img {
    width: 320px;
    height: 320px;
    padding-top: 0;
  }
}

/* ----------COMPETENCIES BEGIN-------------- */

.competencies {
    background-color: transparent;
}

.competencies-block {
    max-width: 428px;
    min-height: 428px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.competencies-header {
    font-size: 32px;
    font-weight: 500;
}

.competencies-listblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 428px;
}

.competencies-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
}

.competencies-list-li {
    margin: 7px 12px;
    background-repeat: no-repeat;
    background-size: 40px 28px;
    background-position: 0 0;
    padding: 5px 0px;
    padding-left: 50px;
}

/* --------ICONS--------- */

.laravel {
    background-image: url(../../img/Laravel.svg);
}

.css {
    background-image: url(../../img/css3.svg);
}

.php {
    background-image: url(../../img/php.svg);
}

.cplus {
    background-image: url(../../img/cplus.svg);
}

.csharp {
    background-image: url(../../img/csharp.svg);
}

.figma {
    background-image: url(../../img/figma.svg);
}

.java {
    background-image: url(../../img/java.svg);
}

.js {
    background-image: url(../../img/js.svg);
}

.linux {
    background-image: url(../../img/linux.svg);
}

.mysql {
    background-image: url(../../img/mysql.svg);
}

.photoshop {
    background-image: url(../../img/photoshop.svg);
}

.phpstorm {
    background-image: url(../../img/phpstorm.svg);
}

.postgresql {
    background-image: url(../../img/postgresql.svg);
}

.pyton {
    background-image: url(../../img/pyton.svg);
}

.react {
    background-image: url(../../img/react.svg);
}

.sqlite {
    background-image: url(../../img/sqlite.svg);
}

.ubuntu {
    background-image: url(../../img/ubuntu.svg);
}

.vs {
    background-image: url(../../img/vs.svg);
}

.vsc {
    background-image: url(../../img/vsc.svg);
}

/* -----------COMPETENCIES END----------------- */
